body {
    /* Positioning */
    margin-bottom: 150px;
    /* Typography */
    font-family: 'Open Sans Condensed', sans-serif;
    /* Visual */
    background-color: peachpuff;
    color: green;
}

html {
    /* Positioning */
    position: relative;
    /* Box-model */
    min-height: 100%;
    background-color: transparent;
}

.panel-default {
    background-color: transparent;
}

.container {
    width: 100%;
    margin: 0 auto;
    /* Box-model */
    min-height: 100%;
    clear: both;
}


/* testing position */

.jumbotron {
    text-align: center;
    padding: 30px;
    background-color: transparent;
}

h1,
.jumbotron p {
    background: #fff;
    font-size: 30px;
}

h1 {
    font-size: 75px;
    text-align: center;
    margin: 0px auto;
    height: 80%;
    width: 100%;
    padding: 20px;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin: 10px auto;
    height: 175px;
    background: #fff;
    width: 100%;
}

.panel-body {
    font-size: 40px;
    text-align: center;
    margin: 10px auto;
    height: 200px;
    margin-bottom: initial;
    width: 100%;
    padding: 5px;
    line-height: 15px;
}

.panel-title,
#rightLetter,
#wrongGuesses,
#winCounter,
#lossCounter,
#numGuesses {
    font-size: 50px;
    text-align: center;
    margin: 30px auto;
    background: #fff;
    width: 100%;
    height: 50px;
    float: right;
    color: green;
    line-height: 40px;
}

.footer {
    /* Positioning */
    position: absolute;
    bottom: 0;
    /* Box-model */
    width: 100%;
    height: 60px;
    margin-top: 30px;
    /* Visual */
    background-color: #666;
}

.panel {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.footer p {
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin: 20px;
}